{{#unless club.athletes}}
  <h3 class="ui center aligned message">It's very quiet in here... start adding some athletes!</h3>
{{/unless}}

{{#if club.athletes}}

  <table class="ui fixed striped table">
    <thead>
      <tr>
        <th class="four wide">Athlete</th>
        <th class="four wide">Age</th>
        <th class="three wide">Event</th>
        <th class="three wide">Medals</th>
        <th class="one wide"> </th>
        <th class="one wide"> </th>
      </tr>
    </thead>
  <tbody>
      {{#each club.athletes}}
      <form class = "ui form" action="/club/{{../club.id}}/updateathlete/{{id}}" method="POST">
      <tr class="fields">
        <td class="field">
          <span class="ui input">
           <input placeholder="Name" type="text" size="30" name="name" autofocus required value = "{{capitalise name}}">
          </span>
        </td>
        <td class="field">
          <span class="ui input">
            <input placeholder="Age" type="text" size="30" name="age" required value = "{{capitalise age}}">
          </span>
        </td>
        <td class="field">
          <span class="ui input">
            <input placeholder="Event" type="text" name="event" required value = "{{capitalise event}}">
          </span>
        </td>
        <td class="field">
          <span class="ui input">
            <input placeholder="Medals" type="text" name="medals" required value = "{{medals}}">
          </span>
        </td>
        <td class="center aligned">
          <button class="ui submit icon button"><i class="icon pencil alternate"></i></button>
        </td>
        <td class="center aligned">
          <a href="/club/{{../club.id}}/deleteathlete/{{id}}" class="ui icon button delathlete">
            <i class="icon trash"></i>
          </a>
        </td>
      </tr>
      </form> 
      {{/each}}
    </tbody>
  </table>

  <p>
    <span id="rating"> </span>
  </p>

  <button class="ui blue button" onclick="getRating()">
    Rate it! <i class="star icon"></i>
  </button>

{{/if}}
